*{
    font-family: sans-serif;
}

button{
    position:absolute;
    color: rgb(236, 236, 236);
    border-bottom: 1em;
    size: 50px;
    background-color: black;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}