@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);

body{
    font-family: 'Comic Sans MS', sans-serif;
    background: rgb(0, 0, 0);
    color: #ffffff;
}

.button {
	background-color: rgb(30, 248, 255);
	border: none;
	color: white;
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
	padding: 12px 30px;
   cursor: pointer;
}
 
  .button:hover {
  background-color: RoyalBlue;
}
 
.ddd{
	background-color: RoyalBlue;
	border: none;
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
	padding: 12px 30px;
	color: white;
  cursor: pointer;
  }
 
  .ddd:hover {
  background-color: rgb(128, 192, 255);
}