.O_A{
    color: red;
    background: gray;
    text-align: center;
    cursor: not-allowed;
    font-size: 1.5cm;
}

.txt-onlyPC{
    color: rgb(204, 0, 0);
}

.txt{
    font-size: 0.6cm;
    color: grey;
}